@import './colors.css';

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  flex-direction: row;
  padding: 2.5rem 0 1.5rem 0;
  margin-bottom: 2rem;
}
.navToggleClose {
  display: none;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.logo {
  padding-left: 4rem;
  font-size: 6vh;
  font-weight: bolder;
}
#logoSpan {
  color: var(--primary);
}
.navToggle {
  display: none;
}
.navLinkCol {
  display: flex;
  flex-direction: row;
}
.navLink {
  padding: 0rem 1rem;
  font-size: 2.2vh;
  font-weight: 600;
  color: var(--dark);
  border: none;
  background-color: var(--light);
}
.navLink:active {
  color: var(--primary);
}
.navLink:hover {
  transform: scale(1.05);
  color: var(--primary);
}
.navBar-right {
  display: flex;
  padding: 0 5rem;
}
.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.searchIcon {
  left: 10%;
  top: 25%;
  position: absolute;
}
.navSearch {
  padding: 12px 20px 12px 40px;
  margin: 0 1rem;
  border-radius: 10px;
  font-size: 2vh;
  background-color: var(--light);
  border: 0.1px solid var(--dark);
}
.navSearch:hover {
  border: 1.5px solid var(--dark);
}
.navLogin {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  font-size: 2vh;
  font-weight: 600;
  border: none;
  color: var(--dark);
}
.navLogin:hover {
  color: var(--light);
}
.navLogin:hover, .navLink:hover, .navSearch:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.coursePageTitle {
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
}
.courseListUnitContainer {
  padding: 0 0 2rem 0;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.courseListUnit {
  width: 26%;
  list-style-type: none;
  margin: 1rem;
  padding: 0 1rem;
  border: 2px solid var(--secondary);
  border-radius: 10px;
}
.courseListUnit:hover {
  transform: scale(1.05);
  background-color: var(--grey);
}
.courseDetailsUnit {
  width: 50%;
  list-style-type: none;
  margin: 1rem;
  padding: 0 2rem;
  border: 2px solid var(--secondary);
  border-radius: 10px;
}
.courseDetailsSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseDetailsButtonSection {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 1rem 0;
}
.courseDetailsButton {
  background-color: var(--dark);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 8px 30px;
  border-radius: 12px;
  font-weight: 500;
  margin: 0.5rem 1rem;
}
.courseDetailsButton:hover {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 700;
}
.courseName {
  font-size: 2.5vh;
}
.courseButton {
  background-color: var(--dark);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 500;
  margin-right: 0.5rem;
}
.courseButton:hover {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 700;
}
.courseButtonSection {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.addCourseModal, .editCourseModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  padding: 0 2rem;
  height: 1.8rem;
  font-size: 2vh;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  margin: 0 auto 0.5rem auto;
}
.input:focus, .input:hover {
  border: 2px solid var(--secondary) !important;
  transform: scale(1.05);
}
.error {
  font-size: 1.5vh;
  color: var(--primary);
  line-height: 0%;
  margin: 0;
}

.homeSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.leftHomeSection {
  justify-content: center;
  align-items: center;
}
.leftHomeSection {
  padding: 2rem;
  flex: 1;
}
.rightHomeSection {
  padding: 2rem 3rem;
  flex: 1.5;
}
.rightHomeSection {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}
.Home1, .Home3{
  width: 50%;
}
.homeButton {
  background-color: var(--dark);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 14px 50px;
  border-radius: 12px;
  font-weight: 500;
  margin: 1.5rem 7.5rem;
  position: relative;
}
.homeButton:hover {
  background-color: var(--light);
  color: var(--dark);
  font-weight: 700;
}
.h1 {
  font-size: 12vh;
  line-height: 0%;
  text-align: center;
  color: var(--primary);
}
.h3 {
  font-size: 4vh;
  text-align: center;
}
.homeWriteUp {
  font-size: 3vh;
  text-align: center;
}

.footerContainer {
  display: flex;
  margin: 2rem 0 0 0;
  justify-content: center;
  background-color: black;
}
.footer {
  padding: 1rem;
  color: var(--secondary);
}
.footerLink {
  color: var(--light);
}
.footerBottom {
  display: inline-flex;
}
.footLink {
  padding: 0 1rem;
  text-decoration: none;
  color: var(--light);
}
.footerLink:hover, .footLink:hover {
  transform: scale(1.05);
  color: var(--primary);
}

@media screen and (max-width: 912px) {
  .navToggle {
    display: block;
    position: relative;
  }
  .navbar-open .navToggleClose {
    display: block;
    width: 35px;
    top: 6%;
    right: 4%;
    position: absolute;
  }
  .navBar {
    position: relative;
  }
  .navbar-close .navToggleClose {
    display: none;
  }
  .topNav {
    padding: 0.5rem 0 1rem 0;
    margin-bottom: 0rem;
    width: 100%;
  }
  .logo {
    padding-left: 1rem;
    font-size: 2.5vh;
  }
  .navbar-closed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .navbar-closed .navBar {
    display: none;
  }
  .navbar-closed .navToggle {
    position: relative;
  }
  .navbar-open .navBar {
    background-color: var(--dark);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
  }
  .navbar-open .navBar .navLinkCol {
    flex-direction: column;
  }
  .navBar-right {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .navLink {
    padding: 0.5rem 0rem;
    color: var(--light);
    background-color: var(--dark);
  }
  .navSearch {
    padding: 10px auto;
    background-color: var(--dark);
    border: 1px solid var(--primary);
  }
  .navSearch:hover {
    border: 2px solid var(--primary);
  }
  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchIcon {
    display: none;
  }
  .navLogin {
    background-color: var(--dark);
    color: var(--primary);
    padding: 1rem 0;
  }

  .courseName {
    font-size: 2vh;
  }
  .coursePageTitle {
    font-size: 2.8vh;
  }
  .courseListUnit {
    margin: 0.75rem;
    width: 30%;
  }
  .courseButton {
    font-size: 1vh;
    width: 120px;
  }
  .courseButtonSection {
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
  }
  .courseDetailsButton {
    font-size: 1vh;
    width: 150px;
  }
  .courseDetailsButtonSection {
    flex-direction: column;
    margin: 0 0 1rem 0;
  }
  .input {
    font-size: 1.5vh;
    padding: 0 0.5rem;
  }
  .error {
    font-size: 1.2vh;
  }

  .homeSection {
    display: flex;
    flex-direction: column;
  }
  .leftHomeSection {
    justify-content: center;
    align-items: center;
  }
  .leftHomeSection, .rightHomeSection {
    padding: 1rem 1.5rem;
    flex: 1;
  }
  .Home1, .Home3{
    width: 50%;
  }
  .Home2 {
    width: 30%;
  }
  .homeButton {
    padding: 10px 50px;
    border-radius: 12px;
    font-weight: 500;
    margin: 1.5rem 5rem;
    position: relative;
  }
  .homeButton:hover {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 700;
  }
  .h1 {
    font-size: 10vh;
    margin: 4rem 0;
  }
  .h3 {
    font-size: 4vh;
    justify-content: center;
    align-items: center;
  }
  .homeWriteUp {
    font-size: 2.5vh;
  }
  .footLink {
    padding: 0 0.3rem;
  }
}